<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.dergil.hierarchynote">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.github.dergil.hierarchynote.HierarchyApp"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HierarchyNote">

        <activity
            android:name="com.github.dergil.hierarchynote.view.activities.NewDirectoryActivity"
            android:exported="false" />
        <activity
            android:name="com.github.dergil.hierarchynote.view.activities.NoteActivity"
            android:exported="false"
            android:parentActivityName="com.github.dergil.hierarchynote.view.activities.MainActivity" />
        <activity
            android:name="com.github.dergil.hierarchynote.view.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
